__pycache__/
*.pyc
.venv/
venv/
.env
.ipynb_checkpoints/
data/raw/**
!data/raw/.gitkeep
web/node_modules/
web/.next/
web/out/
uploads/
*.aux
*.log
*.out
*.toc
*.fdb_latexmk
*.fls
*.wav
.DS_Store
.pytest_cache/
